# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Pycharm
.idea

# dependencies
/node_modules
/.pnp
.pnp.js
**/__pycache__

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# backend database
/api/backend/data/*.db


# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example
**.conf
!nginx/dev.conf
!nginx/nginx.conf

# misc
.DS_Store
*.pem

# Pycharm
.idea

# certificates
/certs

# letsencrypt
/letsencrypt

# traefik
certs/**
**.crt
**.key

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local


